//Temporary stub for commit source preview
-let lc1=1
-let lc2=1

.CommitPreview-Source
  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text package ru.yandex.devtools.intellij.arc.client;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> java.util.ArrayList;

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> java.util.Collection;

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> java.util.List;

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text 

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> com.intellij.openapi.diagnostic.Logger;

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> com.intellij.openapi.project.Project;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> com.intellij.openapi.vcs.FilePath;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> com.intellij.openapi.vcs.VcsException;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> com.intellij.openapi.vfs.VirtualFile;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> com.intellij.vcsUtil.VcsUtil;

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> org.jetbrains.annotations.NotNull;

  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text 

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> ru.yandex.devtools.intellij.arc.ArcContext;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> ru.yandex.devtools.intellij.arc.ArcRevisionNumber;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> ru.yandex.devtools.intellij.arc.ArcStatus;
      
  .CommitPreview-Line.CommitPreview-Line_colored_green
    .CommitPreview-LineNumber 
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text <span style='color:blue'>import</span> ru.yandex.devtools.intellij.arc.ui.ArcResetDialog;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text 

  .CommitPreview-Line.CommitPreview-Line_colored_red
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber
    .CommitPreview-Text <span style='color:blue'>import</span> java.util.ArrayList;

  .CommitPreview-Line.CommitPreview-Line_colored_red
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber
    .CommitPreview-Text <span style='color:blue'>import</span> java.util.Collection;

  .CommitPreview-Line.CommitPreview-Line_colored_red
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber
    .CommitPreview-Text <span style='color:blue'>import</span> java.util.List;
      
  .CommitPreview-Line.CommitPreview-Line_colored_red
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber
    .CommitPreview-Text 

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text(style='color:green') /**

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text(style='color:green')= ' * @author Dmitry Andreev <a href="mailto:AndreevDm@yandex-team.ru"></a> '

  .CommitPreview-Line
    .CommitPreview-LineNumber
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text(style='color:green')  * @date 11/10/2018

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text(style='color:green') */

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text  <span style='color:blue'>public</span> <span style='color:orange'>ArcCli</span>(<span style='color:orange'>String</span> arcBinaryPath) {

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text         this.arcBinaryPath = arcBinaryPath;

  .CommitPreview-Line
    .CommitPreview-LineNumber= lc1++
    .CommitPreview-LineNumber= lc2++
    .CommitPreview-Text     }