-const Header='Header'
div(class=Header)
  -const Logo = 'Logo'
  div(class=[Logo, `${Header}-${Logo}`])
  -const Selector = 'RepositorySelector'
  div(class=[Selector, `${Header}-${Selector}`]) Repository Arc