-const RepositorySelector = 'RepositorySelector'
div(class=[RepositorySelector, `${Header}-${RepositorySelector}`, 'Selector']) 
  div(class=`${RepositorySelector}-Text`)
    span(class=`${RepositorySelector}-Repository`) Repository 
    span(class=`${RepositorySelector}-Name`) Arc
  div(class=[`${RepositorySelector}-Arrow`, 'Selector-ArrowDown'])