-const Selector = 'RepositorySelector'
div(class=[Selector, `${Header}-${Selector}`]) 
  div(class=`${Selector}-Text`)
    span(class=`${Selector}-Repository`) Repository 
    span(class=`${Selector}-Name`) Arc
  div(class=`${Selector}-Arrow`)